.nav-item .sub-menu {
    display: none;
    padding-left: 20px;
}

.nav-item:hover .sub-menu {
    display: block;
}

.link-light {
    color: white !important;
}

.link-dark {
    color: black !important;
}
